body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87A2FB;
  background-repeat: repeat-y;
  background-size: cover;

}

a {
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: #4C6793;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 80px;
}

.nav button {
  border-radius: 15px;
  padding: 5px;
  font-size: x-large;
  padding: 10px 20px;
  margin: 10px;
}

.nav h1 {
  margin: 10px;
}

#add {
  background-color: skyblue;
}

#view {
  background-color: tomato;
}

.pop {
  background-color: #4C6793;
  width: 60px;
  height: 40px;
  border-radius: 15px;
  color: white;
  padding: 10px;
  margin: 15vmin 64vmin;
  z-index: 1;

}

button {
  font-size: 40px;
  margin: 10px;
  border: 0px;
}

#true {
  color: white;
  background-color: green;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#false {
  color: white;
  background-color: red;
  border-radius: 50%;
  box-shadow: 1px 1px 1px black;
}

.alert {
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 1;
  display: flex;
  flex-direction: row;
}